body {
  background-color: teal;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 5rem;
}

#todo-app {
  display: flex;
  justify-content: center;
  width: 100%;
}

#todo-form {
  border: 1px solid black;
}

input {
  border-radius: 2rem;
}
